---
import { Icon } from 'astro-icon'
import Layout from '~/components/layout.astro'
import * as home from '~/home.md'
import { sortDates } from '~/utils/sort-dates'

const formatDate = (dateString: string) => {
	const date = new Date(dateString)

	if (date.getTime() - Date.now() > 0) {
		return 'Present'
	}

	return date.getFullYear()
}

const timeline = await Astro.glob('../timeline/*.md')
// sort timeline with most recent first
const sortedTimeline = timeline.sort((a, b) => {
	return sortDates(b.frontmatter.startDate, a.frontmatter.startDate)
})
---

<Layout>
	<main class="max-w-prose">
		<div
			class="mt-3 prose dark:prose-invert prose-headings:dark:text-white prose-p:dark:text-gray-300 prose-li:dark:text-gray-300 prose-a:dark:text-gray-200 prose-a:dark:hover:text-white"
		>
			<h1 class="text-2xl">{home.frontmatter.title}</h1>

			<home.Content />

			<h3>Links</h3>

			<div class="flex gap-2">
				<a
					href="https://github.com/casperengl/"
					class="dark:text-gray-200 dark:hover:text-white"
				>
					<Icon
						pack="carbon"
						name="logo-github"
						class="w-10 h-10"
						aria-label="Github"
						target="_blank"
						rel="noopener noreferrer"
					/>
				</a>

				<a
					href="https://www.linkedin.com/in/casperengl/"
					class="dark:text-gray-200 dark:hover:text-white"
				>
					<Icon
						pack="carbon"
						name="logo-linkedin"
						class="w-10 h-10"
						aria-label="LinkedIn"
						target="_blank"
						rel="noopener noreferrer"
					/>
				</a>

				<a
					href="https://twitter.com/casperengl"
					class="dark:text-gray-200 dark:hover:text-white"
				>
					<Icon
						pack="carbon"
						name="logo-twitter"
						class="w-10 h-10"
						aria-label="Twitter"
						target="_blank"
						rel="noopener noreferrer"
					/>
				</a>
			</div>

			<h3>Experience</h3>

			<ul class="mt-6 space-y-3">
				{sortedTimeline.map(
					({
						frontmatter: { endDate, startDate, role, company, link, linkTitle },
					}) => (
						<li>
							<div class="flex flex-col items-start">
								{endDate ? (
									<span>
										{formatDate(startDate)} &mdash; {formatDate(endDate)}
									</span>
								) : (
									<span>{formatDate(startDate)} to date</span>
								)}
								<span>
									{role} @{' '}
									{link ? (
										<a
											href={link}
											rel="noopener noreferrer"
											target="_blank"
											title={linkTitle}
										>
											{company}
										</a>
									) : (
										company
									)}
								</span>
							</div>
						</li>
					)
				)}
			</ul>
		</div>
	</main>
</Layout>
