---
import { frontmatter as home, Content } from '~/home.md'
import Layout from '~/components/layout.astro'

const timeline = (await Astro.glob('../timeline/*.md'))
  // Sort by date, oldest last
  .sort((a, b) => sortDates(b.frontmatter.start, a.frontmatter.start))

const formatDate = (dateString: string) => {
  const date = new Date(dateString)

  if (date.getTime() - Date.now() > 0) {
    return 'Present'
  }

  return date.getFullYear()
}

const sortDates = (a: string, b: string) => {
  const aDate = new Date(a)
  const bDate = new Date(b)

  return aDate.getTime() - bDate.getTime()
}

const obfuscate = (string: string) => {
  let obfuscatedLetters = []

  for (const letter of string.split('')) {
    let charCode = letter.charCodeAt(0)

    if (charCode > 128) {
      obfuscatedLetters.push(letter)
    } else {
      obfuscatedLetters.push('&#'.concat(charCode.toString()))
    }
  }

  return obfuscatedLetters.join(';')
}
---

<Layout>
  <main class="max-w-prose">
    <h1>{home.title}</h1>

    <div class="mt-3 prose dark:prose-invert prose-ul:pl-0 prose-li:pl-0">
      <Content />

      <ul class="mt-6 space-y-3 dark:text-gray-200">
        {timeline
          .map(({ frontmatter }) => (
            <li class="flex flex-col items-start">
              {frontmatter.end ? (
                <span>{formatDate(frontmatter.start)} through {formatDate(frontmatter.end)}</span>
              ) : (
                <span>{formatDate(frontmatter.start)} to date</span>
              )}
              <span>{frontmatter.role} @ {frontmatter.company}</span>
              {frontmatter.link ? (
                <a
                  href={frontmatter.link}
                  rel="noopener noreferrer"
                  target="_blank"
                  title={frontmatter.link_title}
                >
                  visit them {'/^'}
                </a>
              ) : (
                <span>404 website not found</span>
              )}
            </li>
          ))}
      </ul>
    </div>
  </main>

  <footer class="mt-6 inline-block" set:html={obfuscate(home.email)} tabindex={0}></footer>
</Layout>
