---
import OutboundLink from '~/components/outbound-link.astro'

const { endDate, startDate, role, link, company } = Astro.props

const formatDate = (dateString: string) => {
  const date = new Date(dateString)

  if (date.getTime() - Date.now() > 0) {
    return 'Present'
  }

  return date.getFullYear()
}

const isPast = (dateString: string) => {
  const date = new Date(dateString)

  return date.getTime() - Date.now() < 0
}

const isLastMonth = (dateString: string) => {
  const date = new Date(dateString)

  return date.getMonth() === new Date().getMonth() + 1
}
---

<div class="flex flex-col items-start">
  {endDate && isPast(endDate) ? (
    <span>
      {formatDate(startDate)} &mdash; {formatDate(endDate)}
    </span>
  ) : isLastMonth(endDate) ? (
    <span>{formatDate(startDate)} &mdash; Ending soon</span>
  ) : (
    <span>{formatDate(startDate)} &mdash; Present</span>
  )}
  <span>
    {role} @{' '}
    {link ? <OutboundLink href={link}>{company}</OutboundLink> : company}
  </span>
</div>
