---
import OutboundLink from '~/components/outbound-link.astro'

const { endDate, startDate, role, link, company } = Astro.props

const formatDate = (dateString: string) => {
  const date = new Date(dateString)

  if (date.getTime() - Date.now() > 0) {
    return 'Present'
  }

  return date.getFullYear()
}

const isPast = (dateString: string) => {
  const date = new Date(dateString)

  return date.getTime() - Date.now() < 0
}

const isLastMonth = (dateString: string) => {
  const date = new Date(dateString)

  return date.getMonth() === new Date().getMonth() + 1
}
---

{
  endDate && isPast(endDate) ? (
    <div>
      {formatDate(startDate)} &mdash; {formatDate(endDate)}
    </div>
  ) : isLastMonth(endDate) ? (
    <div>{formatDate(startDate)} &mdash; Ending soon</div>
  ) : (
    <div>{formatDate(startDate)} &mdash; Present</div>
  )
}
<div>
  {role} @{' '}
  {link ? <OutboundLink href={link}>{company}</OutboundLink> : company}
</div>
