---
import type { InferEntrySchema } from 'astro:content'
import dayjs from 'dayjs'
import OutboundLink from '~/components/ui/outbound-link.astro'
import { cn } from '~/utils/cn'

interface Props extends InferEntrySchema<'experience'> {
  class?: string
}

const { endDate, startDate, role, link, company } = Astro.props

function formatDate(dateString?: string) {
  if (!dateString) return ''

  const date = dayjs(dateString)

  if (date.isAfter(dayjs())) {
    return 'Present'
  }

  return date.format('MMM YYYY')
}

function isPast(dateString?: string) {
  if (!dateString) return false

  const date = dayjs(dateString)

  return date.isBefore(dayjs())
}

const dateRange = isPast(endDate)
  ? `${formatDate(startDate)} - ${formatDate(endDate)}`
  : endDate
    ? `${formatDate(startDate)} - Ending soon`
    : `${formatDate(startDate)} - Present`
---

<div class={cn(['not-prose', Astro.props.class])}>
  <div class="flex flex-wrap items-baseline gap-x-3 gap-y-1">
    <h3 class="font-bold text-black dark:text-white">{role}</h3>
    <span class="text-neutral-500">@</span>
    {link ? (
      <OutboundLink href={link}>{company}</OutboundLink>
    ) : (
      <span>{company}</span>
    )}
  </div>
  <p class="text-neutral-500 text-xs mt-1">{dateRange}</p>
</div>
